//# Front-end Style Guide

//## Layout

//The designs were created to the following widths:

$mobile: 376px;
$desktop: 1440px;

//## Colors

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

//## Typography

//### Body Copy

//- Font size (paragraph): 15px

//### Font
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
$font-stack:'Outfit', sans-serif;
//- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
//- Weights: 400, 700
